@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

 <aside class="bg-dark">
	<div class="container text-center">
		<div class="call-to-action">
			<h2>@Html.Sitecore().Field("title", Model.Rendering.Item)</h2>

			@*<a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>*@	
			@Html.Sitecore().Field("link", Model.Rendering.Item)
		</div>
	</div>
</aside>