@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items
@using Sitecore8.Models
@model RenderingModel

@{
	Item linkItem = Model.Rendering.Item
		.GetDataSourceTargetItemByFieldName("navigation item");
	var link = linkItem["link"];
}

<section class="no-padding" id="@link">
	<div class="container-fluid">
		<div class="row no-gutter">
			@foreach (Item portfolioItem in Model.Rendering.Item.Children)
			{
				<div class="col-lg-4 col-sm-6">
					<a href="#" class="portfolio-box">
						@Html.Sitecore().Field("image", portfolioItem,
							new { @class = "img-responsive" })
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									@Html.Sitecore().Field("category", portfolioItem)
								</div>
								<div class="project-name">
									@Html.Sitecore().Field("project name", portfolioItem)
								</div>
							</div>
						</div>
					</a>
				</div>
			}
		</div>
	</div>
</section>

